.page{
    display: grid;
    grid-template-columns: 15rem calc(100% - 15rem);
    grid-template-rows: 4rem calc(100vh - 4rem);
}

.header{
    grid-column: span 2;
    display: flex;
    align-items: center;
    background-color: $red-color;
    width: 100%;

    &__logo{
        color: $white-color;
        font-size: 2rem;

        &-text{
            font-weight: 600;
        }
    }
}

.navbar{
    background-color: $grey-light;
    height: 100%;
    top: 0;
    left: 0;
    color: $grey-color;
    overflow-x: hidden;

    &-toggle{
        display: none;
        background: none;
        border: none;
        color: var(--white-color);
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: auto;
    }

    &__nav{
        &-item{
            cursor: pointer;
            padding: 0.5rem 0;

            i{
                margin-right: 1rem;
            }
            
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}

.project-section{
    li{
        &:hover{
            transform: scale(1.2);
        }
    }

    span{
        cursor: pointer;
    }

}

.project_head{
    display: flex;
    align-items: center;

    i{
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.add-project{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid 0.1rem $red-color;
    border-radius: 0.5rem;

    &:hover{
        opacity: 0.5;
    }
}

@media (max-width: 768px){
    .page{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    .navbar{
        background-color: inherit;
        &-menu {
            display: none;
            flex-direction: column;

            &.show{
                display: flex;
            }
    
        }

        &-toggle{
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
    
    .content {
        grid-column: span 2;
        padding: 1rem;
    }
}