$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint, $container-width in $container-max-widths {
    @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
      max-width: $container-width;
    }
  }
}

.m{
  &-1{
    margin: 1rem;
  }
  &-2{
    margin: 2rem;
  }
  &-3{
    margin: 3rem;
  }
  &-4{
    margin: 4rem;
  }
  &-5{
    margin: 5rem;
  }

  &t{
    &-1{
      margin-top: 1rem;
    }
    &-2{
      margin-top: 2rem;
    }
    &-3{
      margin-top: 3rem;
    }
    &-4{
      margin-top: 4rem;
    }
    &-5{
      margin-top: 5rem;
    }
  }

  &b{
    &-1{
      margin-bottom: 1rem;
    }
    &-2{
      margin-bottom: 2rem;
    }
    &-3{
      margin-bottom: 3rem;
    }
    &-4{
      margin-bottom: 4rem;
    }
    &-5{
      margin-bottom: 5rem;
    }
  }

  &s{
    &-auto{
      margin-left: auto;
    }

    &-1{
      margin-left: 1rem;
    }
    &-2{
      margin-left: 2rem;
    }
    &-3{
      margin-left: 3rem;
    }
    &-4{
      margin-left: 4rem;
    }
    &-5{
      margin-left: 5rem;
    }
  }

  &e{
    &-auto{
      margin-right: auto;
    }

    &-1{
      margin-right: 1rem;
    }
    &-2{
      margin-right: 2rem;
    }
    &-3{
      margin-right: 3rem;
    }
    &-4{
      margin-right: 4rem;
    }
    &-5{
      margin-right: 5rem;
    }
  }

  &x{
    &-auto{
      margin-left: auto;
      margin-right: auto;
    }

    &-1{
      margin-right: 1rem;
      margin-left: 1rem;
    }
    &-2{
      margin-right: 2rem;
      margin-left: 2rem;
    }
    &-3{
      margin-right: 3rem;
      margin-left: 3rem;
    }
    &-4{
      margin-right: 4rem;
      margin-left: 4rem;
    }
    &-5{
      margin-right: 5rem;
      margin-left: 5rem;
    }
  }

  &y{
    &-auto{
      margin-top: auto;
      margin-bottom: auto;
    }

    &-1{
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &-2{
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &-3{
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    &-4{
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
    &-5{
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

  }

  &-auto{
    margin: auto auto;
  }

}

.p{
  &-1{
    padding: 1rem;
  }
  &-2{
    padding: 2rem;
  }
  &-3{
    padding: 3rem;
  }
  &-4{
    padding: 4rem;
  }
  &-5{
    padding: 5rem;
  }

  &t{
    &-1{
      padding-top: 1rem;
    }
    &-2{
      padding-top: 2rem;
    }
    &-3{
      padding-top: 3rem;
    }
    &-4{
      padding-top: 4rem;
    }
    &-5{
      padding-top: 5rem;
    }
  }

  &b{
    &-1{
      padding-bottom: 1rem;
    }
    &-2{
      padding-bottom: 2rem;
    }
    &-3{
      padding-bottom: 3rem;
    }
    &-4{
      padding-bottom: 4rem;
    }
    &-5{
      padding-bottom: 5rem;
    }
  }

  &s{
    &-1{
      padding-left: 1rem;
    }
    &-2{
      padding-left: 2rem;
    }
    &-3{
      padding-left: 3rem;
    }
    &-4{
      padding-left: 4rem;
    }
    &-5{
      padding-left: 5rem;
    }
  }

  &e{
    &-1{
      padding-right: 1rem;
    }
    &-2{
      padding-right: 2rem;
    }
    &-3{
      padding-right: 3rem;
    }
    &-4{
      padding-right: 4rem;
    }
    &-5{
      padding-right: 5rem;
    }
  }

  &x{
    &-auto{
      padding-left: auto;
      padding-right: auto;
    }

    &-1{
      padding-right: 1rem;
      padding-left: 1rem;
    }
    &-2{
      padding-right: 2rem;
      padding-left: 2rem;
    }
    &-3{
      padding-right: 3rem;
      padding-left: 3rem;
    }
    &-4{
      padding-right: 4rem;
      padding-left: 4rem;
    }
    &-5{
      padding-right: 5rem;
      padding-left: 5rem;
    }
  }

  &y{
    &-auto{
      padding-top: auto;
      padding-bottom: auto;
    }

    &-1{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &-2{
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &-3{
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    &-4{
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    &-5{
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

  }

  &-auto{
    padding: auto auto;
  }

}

.active{
  color: $white-color;
  font-weight: 700;
  background-color: $red-color;
  padding: 0.4rem;
  border-radius: 0.5rem;
}